.submitTopNav ul li {
  margin:0 13px;
}
.submitTopNav ul li a {
  display: inline-block;
  color: rgba(0,0,0,.5);
  font-size: 20px;
  transition: all .3s ease;
}
.submitTopNav ul li a.active {
  font-weight: bold
}
.submitTopNav ul li a:hover {
  text-decoration: none;
  color: black;
}
.submitWrapper {
  display: block;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  padding: 25px 15px;
  margin: 0 0 25px 0
}
.chButtons {
  
}
.chButtons a {
  height: 150px;
  font-size: 18px;
  color: rgba(0,0,0,.4);
  border: 1px solid rgba(0,0,0,.05);
  border-radius: 15px;
  display: table;
  transition: all .28s ease;
  /*transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);*/
}
.chButtons a:hover {
  text-decoration: none;
  background-color: rgba(0,0,0,.02);
  border-color: rgba(255,255,255,.5);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);
  color: rgba(0,0,0,.6)
}
.chButtons a:focus {
  background-color: rgba(0,0,0,.04);
  text-decoration: none;
  color: black;
}
.chButtons a strong {
  display: table-cell;
  vertical-align: middle
}

.btm-btns {
  margin: 25px -22px;
}

.btm-btns button {
  margin:0 7px;
}

.left {
  justify-content: center
}

.media {
  width: 75%; /* Width of new image */
  height: 50%; /* Height of new image */
}

.button {
  display: block;
  width: 200px;
  height: 200px;
  line-height: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #123;
}

.container:hover .overlay {
  opacity: 0.5;
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}