/* Global / App */

.App {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* NavBar Components */
#header {
  height: 60px;
  background-color: #282828;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-content: center;
}

.boxmodel {
  text-align: center;
  height: 800px;
  width: 750px;
  border: 5px solid #1e90ff;
  padding: 15px;
  margin: auto;
  margin-top: 2cm;
}

.homePage {
  text-align: center;
}

#image2 {
  padding-top: .5cm;
}


.grid-figure {
flex-basis: calc(33.333% - 4rem);
flex-grow: 1;
flex-shrink: 0;
margin: 0 2rem 2rem 2rem;
padding: 4rem;
border: 1px solid lightgray;
background: white;
box-shadow: 0 0 0 5px rgba(0,0,0,0.03);
position: relative;
}

.para {
  font-family: Verdana;
  font-size: 25px;
  padding-top: 2cm;
}



.header {
  width: 100vw;
}

.brand {
  display: flex;
  flex-direction: row;
}

.logo {
  margin: 1px 10px 0 5px;
}

.hidden-sm-down {
  letter-spacing: 1.5px;
  margin-top: 1.5px;
  font-size: 2em;
  font-weight: 200;
  color: white;
}

.navigation {
  background-color: #6d6d6d;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px 5px 20px;
}

.btn_container {
  padding-top: 2px;
  padding-right: 5px;
}

.btn:hover {
  /* font-weight: 500; */
  color: black;
  background-color: #6d6d6d;
  border-color: #6d6d6d;
  /* transform: scale(1.1, 1.1); */
}

.navigation a {
  color: rgb(255,255,255);
  align-self: center;
}

.navigation img {
  width: 30px;
  height: 30px;
  margin-top: 4px;
  align-self: center;
}

.navigation h1 {
  color: rgb(255,255,255);
  align-self: center;
  font-size: 2em;
  margin: 0px;
  margin-top: 4px;
  margin-right: 20px;
  padding: 0px;
}

.class_links {
  color: black;
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
  .hidden-sm-down { display: none; }
}

/*Grid layout*/
.container2 {
  display: inline-grid;
  grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
  grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
}


/* SignIn Components */
#signin_container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.buttons_layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#loading {
  padding-left: 20px;
}

/* SignUp Components */
#signup_btns {
  margin-bottom: 5px;
  padding-bottom: 5px;
  align-items: center;
}

#signup_btns select {
  width: 200px;
}

/* Submit Project Components */
.input_form {
  margin-top: 14px;
  margin-bottom: 14px;
}

.sidebar {
  background-color: black;
  color: white;
  border-color: rgb(109,109,109);
}

.sidebar :hover {
  background-color: white;
  color: black;
  border-color: black;
}

.graduatesidebar {
  background-color: dodgerblue;
  color: white;
  border-color: rgb(109,109,109);
}

.graduatesidebar:hover {
  background-color: #ff711e;
  color: white;
  border-color: black;
}

.sidebarcontainer {
  float: right;
}

.graduated {
  background-color: dodgerblue;
}

.blacklinks {
  color: black;
}

.medialogos {
  height: 70px;
  width: 70px;
  cursor: pointer;
}

/* ——— Grid Layout ——— */
#masonry-layout {
  margin: 50px auto;
}

.project {
  background-color: #FFFFFF;
  box-shadow: 3px 3px 3px 1px lightgray;
  border-radius: 2px;
  display: block;
  width: 200px;
  height: 260px;
  line-height: 10px;
}

.project h4 {
  color: #6d6d6d;
  margin: 9px 0 0 10px;
  padding: 0;
}

.project_img {
  width: 200px;
  height: 200px;
}

.icons {
  margin: 7px 0 0 0
}

.project_icn {
  width: 15px;
  height: 15px;
  margin: 0 0 0 10px
}

.logosize {
  height: 50px;
  width: 50px;
}

.logoholder {
  padding-left: 6cm;
  display: flex;
  flex-direction: space-around;
}

.modalstyles {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.mediaclosebutton {
  background: #ff4f4f;
  width: 30%;
}

.mediasharebutton {
  width: 30%;
}

.mediasharebuttonlinkedin {
  background: rgb(0,99,172);
  width: 30%;
}

.mediasharebuttonfacebook {
  background: rgb(43,80,169);
  width: 30%;
}

.mediasharebuttontwitter {
  background: rgb(0,143,247);
  width: 30%;
}

.mediasharebuttonemail {
  background: black;
  color: white;
  width: 30%;
}

.mediabuttons {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.imagesmadeformediabuttons {
  cursor: pointer;
}

#likebutton {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  cursor: pointer;
}

.settingsbutton :hover {
  cursor: pointer;
}

/* Official Lambda Color: rgb(66, 143, 187); */
